.nocontact {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: antiquewhite;
  color: #f08c00;
}
.list {
  width: 100%;
  display: flex;
  justify-content: center;
}

